*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background-color: #000000;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0.9rem 0;
    color: #FFF;
}

.container{
    width: 90%;
    margin: auto;
}


header {
    background: url(../img/showcase.jpg) center center/cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 99;
}

header::after{
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    box-shadow: inset 0px 80px 250px #000 , inset 0px -80px 250px #000;
}


.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-top: 1.5rem;
    z-index: 99;

}   

.header-inner .logo{
    width: 180px;
    z-index: 99;
}

.header-inner .logo img{
    width:100%;
}

.btn{
    display: inline-block;
    background-color: #e50914;
    line-height: normal;
    color: #fff;
    font-weight: 400;
    z-index: 99;
    outline: none;
    border: none;
}

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btn-sm{
    font-size: 1rem;
    padding: 7px 17px;
    border-radius: 2px;
}


.showcase {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 940px;
    z-index: 99;
    height: 552px;
    margin: auto;
}

.showcase h1{
    font-size: 4.3rem;
    line-height: 1.1;
    z-index: 99;
    font-weight: 600;
}

.showcase h6{
    font-size: 1.6rem;
    margin: 1rem auto;
    z-index: 99;
    font-weight: 300;
}

.showcase p{
    z-index: 99;
    font-size: 1.2rem;
}

form{
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    flex-direction: row;
    padding: 0 7.6rem;
}

form input{
    height: 60px;
    width: 400px;
    padding: 10px 10px;
}

.btn-lg{
    padding: 0.9rem 2em;
    font-size: 1.625rem;
}

.section-container{
    padding: 70px 45px;
    border-bottom: 8px solid #222;
}
 .first{
    border-top: 8px solid #222;
}

.video-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section{
    width: 52%;
   
}

.text-section h1{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.text-section p{
    font-size: 1.625rem;
    font-weight: normal;
}

.img-section{
    width: 48%;
    position: relative;
}

.video-animation{
    position: absolute;
    top: 20%;
    left: 13%;
    width: 409px;
    z-index: -1;
}

.our-story-card-video{
    width: 100%;
    height: 100%;
}

.img-section img{
    width: 100%;
}

.video-animation-container{
    margin: -8% 0 -4% -15%;
    min-height: 100px;
    width: 100%;
    position: relative;
}
.video-animation-container img{
    max-width: 100%;
    height: auto;
}

.video-animation-container .our-story-card-animation{
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    background: black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
    min-width: 15em;
    padding: 0.9em 0.8em;
    border: 2px solid rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0 0 2em 0 #000000;
    -moz-box-shadow: 0 0 2em 0 #000000;
    box-shadow: 0 0 2em 0 #000000;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
}

.video-animation-container .our-story-card-animation::after{
    width: 3em;
    height: 3em;
    outline: 2px solid black;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.our-story-card-animation-image {
    width: 20%;
    margin-right: 10px;
}

.our-story-card-animation-image img{
    height: 4rem;
}

.our-story-card-animation-text{
    width: 70%;
    text-align: left;
}

.our-story-card-animation-text .text-0{
    font-size: 1rem;
    color: white;
    font-weight: 600;
}
.our-story-card-animation-text .text-1{
    font-size: 0.8rem;
    color: #0071eb;
    font-weight: normal;
}

.video-animation-2{
    position: absolute;
    top: 10%;
    left: 17%;
    width: 353px;
    z-index: -1;
}

footer{
    padding: 70px 45px;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu ul{
    padding: 0;
    list-style: none;
    margin: 0;
}

.menu-list ul li a{
    color: #a6a6a6;
    text-decoration: none;
    font-size: 13px;
}




@media screen and (max-width : 768px){
    .showcase{
        padding: 0 10px;
    }

    .showcase h1{
        font-size: 2.5rem;
    }

    .showcase h6{
        font-size: 1.5rem;
    }
    .showcase p{
        font-size: 0.8rem;
    }
    form{
        display: block;
        width: 100%;
        padding: 0;
    }

    form input{
        width: 100%;
        
    }
    .btn-lg{
        margin-top: 10px;
        width: 100%;
    }
    .video-box{
        display: block;
    }

    .video-box .text-section{
        width: 100%;
        text-align: center;
        padding: 0 !important;
    }

    .video-box .text-section h1{
        font-size: 2rem;
    }

    .video-box .text-section p{
        font-size: 1rem;
    }

    .video-box .img-section{
        width: 100%;
    }

    .video-animation{
        width: 214px;
    }

    .video-animation-container{
        margin: 0 0 20px 0 ;
    }

    .section-container {
        padding: 40px 40px 40px 40px;
    }

    .video-animation-2{
        width: 190px;
    }

    .menu-list{
        display: block;
        width: 100%;
        
    }

    .menu{
        margin-bottom: 10px;
    }
}